.app {
  display: flex;
  min-height: 100vh;
  background-color: #343541;
  color: #ececf1;
}

.main-content {
  flex: 1;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 0;
  }
} 